body{
    background: azure;
    font-family: "American Typewriter",serif;
}
div{
    text-align: -webkit-center;
    vertical-align: center;
    position: absolute;
}

#root{
    height: 100%;
    width: 100%;
    position: absolute;
}

.form{
    height: 500px;
    width: 900px;
    display: inline-block;
    margin-top: 0em;
}

.form__input{
    height: 30px;
    width: 400px;
    margin: 25px auto 0 auto;
    border: black;
    border: 2px solid black;

}

.form__btn{
    font-family: "American Typewriter",serif;
    font-size: inherit;
    background: cadetblue;
    height: 60px;
    width: 406px;
    border: 2px solid;
    margin: 55px auto 0 auto;
}

.focused {
    border: red;
}

.error{
    color: red;
    height: auto;
    width: 405px;
    border: 1px solid #EF9A9A;
    background-color: rgba(239, 154, 154, 0.86);
    display: none;
    margin: 0 auto 2px 247px;
    overflow: auto;
    font-family: "American Typewriter",serif;
    font-size: small;
}

.inline{
    display: inline;
}

/*#checkbox{*/
/*    display: flex;*/
/*    flex: auto;*/
/*    color: black;*/
/*}*/