*, html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

section {
    display:flex;
    justify-content: space-between;
    padding-left: 30px;
}

article {
    justify-content: space-between;
    padding-left: 10px;
}
img{
    width: 100%;
    height: 100%;
    border-radius:50%;
}

.img-wrapper {
    position: relative;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.status {
    width: 10px;
    height: 10px;
    position: absolute;
    top: 69%;
    right:20%;
    background: red;
    border-radius: 50%;
}

