@primary: #fbf9fa;
@secondary:#a89bba;
@white:#f2f2f2;
@darkpink: #e64e6c;
@purple: #8f40aa;
@img:"../images/";
@radius: 4px;


  body {
    font-family: Raleway, sans-serif;
    font-style: normal;
    font-weight: 400;
    background-color: @primary;
    line-height: 1.5;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
  }

  .header {
    padding: 0 16px;
    display: flex;
    flex: auto;
    position: fixed;
    background: @secondary;
    width: 100%;
    top: 0;
    z-index: 3;
    transition: top .3s;

    & a {
      float: left;
      display: block;
      color: @white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
      border-right: 1px solid #bbb;
    }
  }

  #navbar a:hover {
    background-color: @purple;
    color: white;
  }

  .active {
    background-color: @purple;
    color: white;
  }

  .logo {
    margin-top: 10px;
    margin-right: 40px;
  }

  .content {
    padding: 16px;
    margin-top: 30px;
  }

  .courses {
    background-color: #fbf9fa;

    .block {
      height: 600px;
      margin: 0 13px;
      box-shadow: 0 10px 40px rgb(0 0 0);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      box-sizing: border-box;
      padding: 40px 0 0;
      border-radius: 5px;
      position: relative;
      outline: none;
    }
  }

  .course {
    height: 450px;
    background-color: #faf2f9;
    box-shadow: 0 10px 40px rgb(0 0 0);
    display: flex;
    flex: auto;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 5px;
  }

  .block {
    display: flex;
    position: relative;
    z-index: 0;
    overflow: hidden;
    outline: none;
    background-color: #fbf9fa;
    justify-content: space-between;

    &__list {
      display: flex;
      justify-content: space-between;
    }

    &__elem {
      box-sizing: border-box;
      list-style-type: none !important;
      padding: 0 10px;
      flex-shrink: 0;
    }
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  .course-title {
    margin: 20px;
    font-weight: 700;
    font-size: 26px;
    line-height: 34px;
    color: @darkpink;
    text-align: center;
  }

  .wrapper {
    display: inline;
    vertical-align: middle;
  }

  .icon {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    display: inline;
    vertical-align: middle;
  }


  .contact-form {
    margin-top: 35px;
    margin-bottom: 10px;
    text-align: center;
    justify-content: space-between;
  }

  input, select, textarea {
    width: 50%;
    text-align: left;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }

  .question {
    display: flex;
    justify-content: center;
  }

  .container-contact {
    width: 50%;
    background-color: #241970;
    box-shadow: 0 10px 40px rgb(0 0 0);
    padding: 10px;
    border-radius: 5px;
    align-self: center;
  }

  .button {
    color: white;
    padding: 10px 57px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: inherit;
    margin: 4px 2px;
    cursor: pointer;
    border: none;
    border-radius: @radius;
    background-color: @darkpink;

    &--btn1 {

      &:hover,
      &:focus {
        outline: 0;
        background-color: darken(@darkpink, 20%);
      }
    }

    &--btn2 {
      background-color: #a89bba;
      &:hover,
      &:focus {
        outline: 0;
        background-color: darken(@darkpink, 30%);
      }
    }
  }

  #subject {
    font-family: inherit;
  }

  footer {
    background: #111112;
    color: #fbf9fa;
    padding: 5px 5px;
    box-sizing: border-box;
    text-align: center;
    height: 120px;

    .container {
      width: 100%;
      margin: 0 auto;
      padding: 0 25px;
      box-sizing: border-box;
    }

    .social-links, ul {
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      padding: 0;
      margin: 5px;

      li {
        margin: 0 15px;
      }
    }
    .author{
      margin: 0;
      padding: 0;
      font-family: inherit;
      font-size: small;
    }
  }

  .fixed-button {
    position: fixed;
    bottom: 10px;
    right: 10px;
    max-width: 165px;
    z-index: 2;

    &--btn3 {
      cursor: pointer;
      outline: none;
      border: none;
      background: @secondary;
      width: 100%;
      overflow: hidden;
      position: relative;
      border-radius: @radius;
      padding: 14px 25px;
      font-weight: 700;
      font-size: 18px;
      line-height: 21px;
      text-align: center;
      color: #fff;
      font-family: inherit;
    }
  }
#map {
  height: 400px;
  width: 100%;
}
